<!DOCTYPE html>
<html lang="ru">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="data:image/png;base64," />
  <link rel="stylesheet" href="./styles/global.css" />
  <title>Национальная система оповещения - Личный кабинет</title>
  <a href="/"><img src="./assets/logo.png" alt="Лого компании" /></a>
  <h1>Добро пожаловать, {{name}}</h1>
  <p>Ситуация страшная, все умерли</p>
  <h2>Профилактические меры</h2>
  <p>
    Нужно пить пареную урину - она как чаек, если верить уважаемому народному
    целителю Геннадию Малахову
  </p>
  <p>От коронавируса рекомендуется совать редьку в нос</p>
</html>
