<!DOCTYPE html>
<html lang="ru">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="data:image/png;base64," />
  <link rel="stylesheet" href="./styles/global.css" />
  <script defer src="./scripts/jquery.min.js"></script>
  <script defer src="./scripts/parsley.min.js"></script>
  <script defer src="./scripts/parsley.ru.js"></script>
  <title>Национальная система оповещения</title>
  <div>
    <button
      onclick="window.location.href=`{{ url_for('login') }}`"
      class="button login-button-top"
    >
      <p>Войти</p>
    </button>
    <button
      onclick="window.location.href=`{{ url_for('register') }}`"
      class="button register-button-top"
    >
      <p>Зарегистрироваться</p>
    </button>
  </div>
  <a href="/"><img src="./assets/logo.png" alt="Лого компании" /></a>
  <article>
    <h1>Что такое коронавирус?</h1>
    <p>
      Коронавирусы – обширное семейство вирусов, которые могут вызывать
      заболевание у человека или животных. Известно, что некоторые коронавирусы
      способны вызывать у человека респираторные инфекции от обычной простуды до
      более серьезных патологических состояний, таких как ближневосточный
      респираторный синдром (БВРС) и тяжелый острый респираторный синдром
      (ТОРС). Последний из открытых коронавирусов вызывает заболевание,
      получившее название COVID-19.
    </p>

    <h1>Что такое COVID-19?</h1>
    <p>
      COVID-19 – инфекционное заболевание, вызванное последним из открытых
      вирусов семейства коронавирусов. До вспышки инфекции в Ухане, Китай, в
      декабре 2019 г. о новом вирусе и вызываемом им заболевании известно не
      было. Сегодня вспышка COVID-19 переросла в пандемию, охватившую многие
      страны мира.
    </p>

    <h1>Каковы симптомы COVID-19?</h1>
    <p>
      К наиболее распространенным симптомам COVID-19 относятся повышение
      температуры тела, сухой кашель и утомляемость. К более редким симптомам
      относятся боли в суставах и мышцах, заложенность носа, головная боль,
      конъюнктивит, боль в горле, диарея, потеря вкусовых ощущений или обоняния,
      сыпь и изменение цвета кожи на пальцах рук и ног. Как правило, эти
      симптомы развиваются постепенно и носят слабо выраженный характер. У
      некоторых инфицированных лиц болезнь сопровождается очень легкими
      симптомами. Большинство заболевших (около 80%) выздоравливают спонтанно
      без необходимости в госпитализации. Примерно в одном из пяти случаев
      заболевание COVID-19 протекает в тяжелой форме с развитием дыхательной
      недостаточности. У пожилых людей, а также лиц с сопутствующими
      заболеваниями, например гипертонией, заболеваниями сердца или легких,
      диабетом или раком, вероятность тяжелого течения заболевания выше. Тем не
      менее заразиться COVID-19 и тяжело заболеть может каждый. Людям в любом
      возрасте следует незамедлительно обращаться за медицинской помощью в
      случае наличия повышенной температуры тела и/или кашля, сопровождающихся
      затрудненным дыханием/одышкой, болью/ощущением заложенности в грудной
      клетке, нарушениями речи или движения. По возможности рекомендуется
      вызвать врача по телефону или предварительно позвонить в больницу, что
      позволит направить пациента в профильное медицинское учреждение.
    </p>

    <h1>
      Что я должен делать, если у меня симптомы COVID-19, и в какой момент
      следует обратиться за медицинской помощью?
    </h1>
    <p>
      Если у вас легкие симптомы, такие как легкий кашель или небольшое
      повышение температуры тела, в обращении за медицинской помощью, как
      правило, необходимости нет. Соблюдайте самоизоляцию дома и следите за
      развитием симптомов. Следуйте рекомендациям властей в отношении
      самоизоляции. Тем не мене, если в районе вашего проживания циркулируют
      малярия или лихорадка денге, такой симптом, как повышение температуры
      тела, игнорировать не следует. Обратитесь к врачу. При посещении
      медицинского учреждения необходимо носить маску и, по возможности,
      держаться на расстоянии не менее 1 метра от других людей, а также не
      касаться руками предметов и поверхностей. Если заболел ребенок, помогите
      ему в выполнении этих рекомендаций. В случае появления одышки или
      боли/ощущения заложенности в грудной клетке следует немедленно обратиться
      за медицинской помощью. По возможности, обращение к врачу следует сделать
      по телефону, что позволит ему направить вас в специализированное лечебное
      учреждение.
    </p>

    <h1>Как распространяется COVID-19?</h1>
    <p>
      Заразиться COVID-19 можно от человека, инфицированного вирусом.
      Заболевание передается, главным образом, от человека к человеку через
      мелкие капли, выделяемые инфицированным COVID-19 из носа или рта при
      кашле, чихании или разговоре. В силу своей относительно большой массы эти
      капли не разлетаются на значительное расстояние и быстро опускаются вниз.
      Заражение COVID-19 может произойти в результате вдыхания воздуха,
      содержащего капли, выделившиеся из дыхательных путей больного. Именно
      поэтому необходимо держаться от больного человека на расстоянии не менее 1
      метра. Эти капли могут оседать на окружающих больного предметах и
      поверхностях, например столах, дверных ручках и лестничных поручнях. В
      результате окружающие могут заразиться COVID-19, прикоснувшись сначала к
      этим предметам или поверхностям, а затем к глазам, рту или носу. Поэтому
      важно регулярно мыть руки водой с мылом или обрабатывать их спиртовым
      антисептиком для рук. ВОЗ анализирует текущие исследования, касающиеся
      механизмов передачи COVID-19, и будет публиковать новые данные по мере их
      поступления.
    </p>

    <h1>
      Основные меры предосторожности для защиты от новой коронавирусной инфекции
    </h1>
    Следите за новейшей информацией о вспышке COVID-19, которую можно найти на
    веб-сайте ВОЗ, а также получить от органов общественного здравоохранения
    вашей страны и населенного пункта. В большинстве случаев заболевание
    характеризуется легким течением и заканчивается выздоровлением, хотя
    встречаются осложнения. Защитить свое здоровье и здоровье окружающих можно,
    соблюдая следующие правила:

    <h2>Регулярно мойте руки</h2>
    Регулярно обрабатывайте руки спиртосодержащим средством или мойте их с
    мылом.

    <h3>Зачем это нужно?</h3>
    Если на поверхности рук присутствует вирус, то обработка рук
    спиртосодержащим средством или мытье их с мылом убьет его.

    <h2>Соблюдайте дистанцию в общественных местах</h2>
    Держитесь от людей на расстоянии как минимум 1 метра, особенно если у них
    кашель, насморк и повышенная температура.

    <h3>Зачем это нужно?</h3>
    Кашляя или чихая, человек, болеющий респираторной инфекцией, такой как
    2019-nCoV, распространяет вокруг себя мельчайшие капли, содержащие вирус.
    Если вы находитесь слишком близко к такому человеку, то можете заразиться
    вирусом при вдыхании воздуха.

    <h2>По возможности, не трогайте руками глаза, нос и рот</h2>
    <h3>Зачем это нужно?</h3>
    Руки касаются многих поверхностей, на которых может присутствовать вирус.
    Прикасаясь содержащими инфекцию руками к глазам, носу или рту, можно
    перенести вирус с кожи рук в организм.

    <h2>Соблюдайте правила респираторной гигиены</h2>
    При кашле и чихании прикрывайте рот и нос салфеткой или сгибом локтя; сразу
    выкидывайте салфетку в контейнер для мусора с крышкой и обрабатывайте руки
    спиртосодержащим антисептиком или мойте их водой с мылом. Зачем это нужно?
    Прикрывание рта и носа при кашле и чихании позволяет предотвратить
    распространение вирусов и других болезнетворных микроорганизмов. Если при
    кашле или чихании прикрывать нос и рот рукой, микробы могут попасть на ваши
    руки, а затем на предметы или людей, к которым вы прикасаетесь.

    <h2>
      При повышении температуры, появлении кашля и затруднении дыхания как можно
      быстрее обращайтесь за медицинской помощью
    </h2>
    Если вы посещали районы Китая, где регистрируется 2019-nCoV, или тесно
    общались с кем-то, у кого после поездки из Китая наблюдаются симптомы
    респираторного заболевания, сообщите об этом медицинскому работнику.

    <h3>Зачем это нужно?</h3>
    Повышение температуры, кашель и затруднение дыхания требуют
    незамедлительного обращения за медицинской помощью, поскольку могут быть
    вызваны респираторной инфекцией или другим серьезным заболеванием. Симптомы
    поражения органов дыхания в сочетании с повышением температуры могут иметь
    самые различные причины, среди которых в зависимости от совершенных
    пациентом поездок и его контактов может быть 2019-nCoV.

    <h2>
      Следите за новейшей информацией и выполняйте рекомендации медицинских
      специалистов
    </h2>
    Следите за новейшей информацией о COVID-19. Выполняйте рекомендации
    специалистов, центральных и местных органов общественного здравоохранения, а
    также организации, в которой вы работаете, по защите себя и окружающих от
    COVID-19.

    <h3>Зачем это нужно?</h3>
    У центральных и местных органов здравоохранения имеется самая актуальная
    информация о динамике заболеваемости COVID-19 в вашем районе. Они могут
    выдать наиболее подходящие рекомендации о мерах индивидуальной защиты для
    жителей вашего района.
  </article>
</html>
