<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="data:image/png;base64," />
    <link rel="stylesheet" href="./styles/global.css" />
    <script defer src="./scripts/jquery.min.js"></script>
    <script defer src="./scripts/parsley.min.js"></script>
    <script defer src="./scripts/parsley.ru.js"></script>
    <title>Национальная система оповещения</title>
    <img src="./assets/logo.png" alt="Лого компании" />
    <div class="login">
      <form name="loginForm" method="POST" data-parsley-validate>
        <p class="field">
          <input
            type="email"
            required
            name="login"
            placeholder="example@mail.ru"
          />
        </p>
        <p class="field">
          <input
            type="password"
            required
            name="password"
            placeholder="пароль"
          />
        </p>
        <button type="submit" name="submit" class="button login-button">
          <p>Войти</p>
        </button>
      </form>
      <button
        onclick="window.location.href=`{{ url_for('register') }}`"
        class="button register-button"
      >
        <p>Зарегистрироваться</p>
      </button>
    </div>
  </head>
</html>
